
* {
  box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #1fe5bd;
    font-family: 'Roboto';
    transition: background 1s ease;
}

.content {
    display: table;
    height: 100%;
    width: 100%;
}

h2 {
    color: #fff;
    font-size: 90px;
    text-align: center;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    clear: both;
}